@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,italic&subset=latin,latin-ext');

.App {
  color: black;
  text-align: left;
  font-family: 'Montserrat';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url('https://static.vecteezy.com/system/resources/previews/012/594/205/non_2x/dna-double-helix-with-sequencing-bands-illustration-background-vector.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.uploader {
  padding: 300px;
  background-color: rgba(255,255,255, 0.95);
  border-radius: 10px;
}
.flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-start-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-start-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.filename {
  font-size: 16px;
}

.download-button {
  height: 38px;
  font-size: 16px;
  color: white;
  background-color: rgb(31, 134, 160);
  border-radius: 5px;
}

button {
  margin-right: 6px;
  border: none;
}
